{{> header}}

{{#if showList}}
  Fruit!
  <ul>
    {{#each repoList}}
    <li>
      <a href="/details/{{name}}">
        {{name}}
      </a>
    </li>

    {{/each}}
  </ul>
  Ok, now you can <a href="/">hide the list</a>.
{{else}}
  <a href="/?showlist=true">Show me the list</a>, please.
{{/if}}
